/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.hidenow{
  display:none;
}

.codeBlock{
  font-weight:bold;
}

.popup {
  max-width: 600px;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 10%;
  background: #fff;
  padding: 10px;
}

.popup-wrapper {
  width: 100%;
  background: rgb(0,0,0,0.5);
  position: fixed;
  height: 100%;
  top: 0px;
  z-index: 999;
}


.popup-wrapper-exit {
  width: 100%;
  background: rgb(0,0,0,0.5);
  position: fixed;
  height: 100%;
  top: 0px;
  z-index: 999;
  display:none
}


.popup-exit {
  max-width: 600px;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 10%;
  background: #fff;
  padding: 10px;
}

.h2-title{
  font-size:2.00rem;
  text-align:center;
  font-weight:bold
}